fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    /* border-style: dashed;
        border-width: 1px;
        border-color: cornflowerblue; */
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    min-width: 200px;
}

legend {
    color: #999;
    font-size: 1.25em;
    padding: 0 .25em;
}

label {
    display: block;
    margin-top: 1em;
}

.checks {
    margin-bottom: 1em;
}

.checks p {
    margin-bottom: 0;
}

.checks label {
    margin-top: 0;
    display: inline-block;
    /***/
}

input {
    background-color: lightblue;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #999;

}

input[type="email"],
input[type="text"] {
    width: 20em;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    /* descendientes
        descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)
        */
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0;
    margin-left: 0;

}

textarea {
    border: 1px solid #999;
    background-color: lightblue;

    padding: .5em;
    min-width: 80%;
    min-height: 5em;
    margin-bottom: .5em;

}

.marcador {
    font-weight: bolder;
}

#main {

    display: flex;
    justify-content: center;
}

table.renglon tr:hover td {
    background-color: #FEFEFE;
}

button {
    padding: .5em 1.5em;
    background-color: green;
    color: #fff;
    border-radius: 6px;
    margin: auto;

}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .popup {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  input{
    padding: 10px;
    font-size: 16px;
    margin: 5px 0px;
}

input.ng-invalid{
    border: 1px solid red;
}

textarea.ng-invalid{
    border: 1px solid red;
}

button{
    padding: 10px 30px;
    background-color: rgb(14, 81, 104);
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.deshabilitado{
    padding: 10px 30px;
    background-color: rgb(161, 163, 163);
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;

}
.error{
    margin: 5px;
    color:red
}
.invalid {
    border: 2px solid red;
}

@media screen and (min-width:450px) {
    fieldset {
        width: 40%;
        min-width: 320px;
        margin: auto;
    }

}